/*pc端*/
@media (min-width: 800px) {
    /*全局*/
    .mybody_pc{
        display: block;
    }
    .mybody_app{
        display: none;
    }
    body{font-size: 12px; color: #000000;}
    .mybody{margin:0 auto;width:100%}
    a{text-decoration:none; target: new;}
    a:hover{text-decoration:underline;}
    /*去掉外边距、内边距、元素边框、列表前的小点*/
    *{margin: 0; padding: 0; border: none; list-style-type: none;}
    /*主logo*/
    .logo{
        padding: 38px 0;
        margin:auto;
        /* width: 80%; */
        display: flex;
        justify-content: space-between;

    }
    /* 导航栏 */
    .width_80_center{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .color3{
        display: block;
        width: 20%;
        height: 40px;
        float: left;
        text-align: center;
        font-size: 20px;
    }
    .color3:hover{
        background: #f35f0a;
    }
    .color2{
        color:yellow;
        position: relative;
        top: 7px;
    }
    #nav{
        display:flex;
        justify-content: center;
        height:42px;
        background-color: #fd3002;
    }
    /*规划伪类选择器*/
    .hover:hover{
        position: relative;
    }
    .hover-content{
        display: none;
    }
    /*规划二级菜单*/
    .link_menu_second{
        color: rgb(97, 15, 28);
    }
    .hover:hover .hover-content{
        /* color: rgb(255, 5, 121) !important; */
        font-weight: bold;
        line-height: 3;
        width: 306px;
        /*height: 100px;*/
        top: 41px;
        background: #ff8400;
        position: absolute;
        display: block;
    }
    .hover-content-font{
        height: 50px;
    }
    .flex{
        display: flex;
    }

    .bodyClass{
        width: 100%;
        background: #FFFFFF;
    }
    .widtH80{
        display: flex;
        width: 80%;
        margin: 0 auto;
    }

    /*规划图片、视频横幅*/
    .banner {
        text-align: center;
        background: #f5f5f5;
    }
    .banner img{
        width: 100%;
    }
    .font{
        width: 80%;
    }

    /* 文字链接展示区域 */
    .width80{
        width: 80%;
        margin: 0 auto;
    }
    .notice{
        width: 100%;
        position: relative;
        background-color: bisque;
    }
    .tab_menu{
        padding: 8px 0px;
        display: flex;
        justify-content: space-between;
        /* width: 40px; */
    }

    .show_left_title{
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: red;
        font-family: 华文楷体;
        line-height: 3;
    }
    .show_left_text{
        font-size: 20px;
        color: #000000;
        font-family:微软雅黑;
        line-height: 2.5;
        text-indent: 2em;
        padding-left: 0px 20px;
    }
    .left_content{
        padding: 0px 20px;
    }
    /* .left_font_text{
        font-size: 20px;
        color: #000000;
        font-family: 华文行楷;
    } */
    /* 要闻 */
    .h1_links{
        font-size:x-large;
        color: #fd3002;
        font-weight: bolder;
        padding: 10px 5px;
        position: relative;
        left: 5%;
    }
    .tab_menu_moreinfo{
        position: relative;
        top: 20px;
        right: 7%;
        font-size:small;
        color:darkgray;
    }
    .hotnew-content{
        width: 48%;
        margin-bottom: 15px;
        margin-right: 1.5%;
        justify-content: space-between;
    }

    .card {
        width: 40%;
        padding: 0 20px;
        /* margin-bottom: 15px;
        margin-right: 1.5%;
        justify-content: space-between; */
    }
    .tab_box_hotnew{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        padding: 0px 20px 20px 20px;
    }
    .font_title{
        line-height: 1.5;
        padding-bottom: 5px;
        font-size: 18px;
        color: darkred;
    }
    .tab_links_normal{
        font-size: 12px;
        line-height: 2;
        margin-left: 11px;
    }
    .tab_links_a{
        font-size:medium;
        color: #b77836;
        float: initial;
    }
    .swiper-slide{
        width: 100%;
        height: 600px;

    }
    .swiper{
        --swiper-theme-color: #ff6600;
        --swiper-pagination-color: #00ff33;/* 两种都可以 */
    }
    .swiperBox{
        width: 100%;
        height: 600px;
    }
    .swiper-slide img{
        width: 100%;
        height: 100%;
    }
    .swiper-slide video{
        width: 100%;
        height: 100%;
    }



    /* 尾部 */
    .footer{
        width: 100%;
        height: 150px;
        background-color:#ededed;
        display: flex;
        justify-content:space-between;

    }
    .footer_left_text{
        color: #eb2311;
        width: 30%;
        height: 80px;
        position: relative;
        left: 15%;
        top: 40px;
    }
    .link_and_access_statistics{
        color: #000000;
        position: relative;
        right: 20%;
        top: 50px;
        font-size: small;
    }
    .footer_links_chars{
        color: #000000;
        font-family: "Microsoft JhengHei";
    }
    .video_play{
        flex: 1;
    }
    .video-box{
        width: 100%;
    }
    .newsBody{
        width: 60%;
    }
}
@media (max-width: 800px) {
    .mybody_pc {
        display: none;
    }

    .mybody_app {
        display: block;
    }

    body {
        font-size: 12px;
        color: #000000;
    }

    .mybody {
        margin: 0 auto;
        width: 100%
    }

    a {
        text-decoration: none;
        target: new;
    }

    a:hover {
        text-decoration: underline;
    }

    /*去掉外边距、内边距、元素边框、列表前的小点*/
    * {
        margin: 0;
        padding: 0;
        border: none;
        list-style-type: none;
    }

    /*主logo*/
    .logo {
        padding: 12px 0;
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: space-between;

    }

    .logo img {
        width: 100%;
    }

    /* 导航栏 */
    .width_80_center {
        width: 100%;
        /*display: flex;*/
        /*justify-content: center;*/
    }

    .color3 {
        display: block;
        width: 20%;
        height: 42px;
        float: left;
        text-align: center;
        font-size: 14px;
        line-height: 42px;
    }

    .color3:hover {
        background: #f35f0a;
    }

    .color2 {
        color: yellow;
        position: relative;
        top: 7px;
    }

    #nav {
        display: flex;
        justify-content: center;
        height: 42px;
        background-color: #fd3002;
    }

    /*规划伪类选择器*/
    .hover:hover {
        position: relative;
    }

    .hover-content {
        display: none;
    }

    /*规划二级菜单*/
    .link_menu_second {
        color: rgb(97, 15, 28);
    }

    .hover:hover .hover-content {
        /* color: rgb(255, 5, 121) !important; */
        font-weight: bold;
        line-height: 3;
        width: 306px;
        /*height: 100px;*/
        top: 41px;
        background: #ff8400;
        position: absolute;
        display: block;
    }

    .hover-content-font {
        height: 50px;
    }

    .flex {
        display: flex;
    }

    .bodyClass {
        width: 100%;
        background: #FFFFFF;
    }

    .widtH80 {
        /*display: flex;*/
        width: 90%;
        margin: 0 auto;
    }

    /*规划图片、视频横幅*/
    .banner {
        text-align: center;
        background: #f5f5f5;
    }

    .banner img {
        width: 100%;
    }

    .font {
        width: 80%;
    }

    /* 文字链接展示区域 */
    .width80 {
        width: 90%;
        margin: 0 auto;
    }

    .notice {
        width: 100%;
        position: relative;
        background-color: bisque;
    }

    .tab_menu {
        padding: 8px 0px;
        display: flex;
        justify-content: space-between;
        /* width: 40px; */
    }

    .show_left_title {
        margin: 10px 0;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: red;
        font-family: 华文楷体;
        line-height: 1.5;
    }

    .show_left_text {
        color: #6a6565;
        /*color: #000000;*/
        font-family: 微软雅黑;
        line-height: 1.5;
        text-indent: 2em;
        /*padding: 0px 20px;*/
    }

    .left_content {
        /*padding: 0px 20px;*/
    }

    /* .left_font_text{
        font-size: 20px;
        color: #000000;
        font-family: 华文行楷;
    } */
    /* 要闻 */
    .h1_links {
        font-size: x-large;
        color: #fd3002;
        font-weight: bolder;
        padding: 10px 5px;
        position: relative;
        left: 5%;
    }

    .tab_menu_moreinfo {
        position: relative;
        top: 20px;
        right: 7%;
        font-size: small;
        color: darkgray;
    }

    .hotnew-content {
        width: 48%;
        margin-bottom: 15px;
        margin-right: 1.5%;
        justify-content: space-between;
    }

    .card {
        /*width: 40%;*/
        padding: 0 20px;
        /* margin-bottom: 15px;
        margin-right: 1.5%;
        justify-content: space-between; */
    }

    .tab_box_hotnew {
        /*width: 100%;*/
        /*display: inline-flex;*/
        /*flex-wrap: wrap;*/
        padding: 0px 20px 20px 20px;
    }

    .font_title {
        line-height: 1.5;
        padding-bottom: 5px;
        font-size: 18px;
        color: darkred;
    }

    .tab_links_normal {
        font-size: 12px;
        line-height: 2;
        margin-left: 11px;
    }

    .tab_links_a {
        font-size: medium;
        color: #b77836;
        float: initial;
    }

    .swiper-slide {
        width: 100%;
        height: 200px;

    }

    .swiper {
        --swiper-theme-color: #ff6600;
        --swiper-pagination-color: #00ff33; /* 两种都可以 */
    }

    .swiperBox {
        width: 100%;
        height: 200px;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
    }

    .swiper-slide video {
        width: 100%;
        height: 100%;
    }


    /* 尾部 */
    .footer {
        width: 100%;
        /*height: 150px;*/
        background-color: #ededed;
        /*display: flex;*/
        /*justify-content:space-between;*/

    }

    .footer_left_text {
        color: #eb2311;

        padding: 10px;
        font-size: 14px !important;
    }

    .link_and_access_statistics {
        color: #000000;
        /*position: relative;*/
        /* right: 20%; */
        /* top: 50px; */
        font-size: small;
        padding: 10px;
    }

    .footer_links_chars {
        color: #000000;
        font-family: "Microsoft JhengHei";
    }

    .video_play {
        flex: 1;
    }

    .video-box {
        width: 100%;
    }

    .newsBody {
        width: 100%;
    }
}
