
.page_center{
    display: flex;
    justify-content: center;
}
/* 居中文章界面 */
.centural_page{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;

}
/* 设置标题样式 */
.title_article{
    font-size: 35px;
    padding: 80px 0px;
    font-weight: bolder;
}

/* 文本段落宽度 */
.article_normal_set{
    width: 55%;
}

.title_p{
    /* background-color: #e9eaf1; */
    font-size: 27px;
    padding: 22px;
    color: brown;
    font-weight: bold;
}
/* 段落内容样式 */
.normal_p{
    font-size: 21px;
    color: black;
    line-height: 2.5;
    text-indent: 2em;

}

/* 插图样式1 */
.illustration{
    display: flex;
    justify-content: center;
}