* {
    margin: 0;
    padding: 0;
}

body {
    /*font-family: "微软雅黑";*/
    overflow-x: hidden;
}

i,
em {
    font-style: normal;
}

img {
    max-width: 100%;
}

ul li {
    list-style: none;
}
/*通用属性（默认格式为PC端格式）*/
.show_video {
    display: flex;
    justify-content: center;
    /*等比例放大1.2倍*/
    transform: scale(1.2);
    width: 100%;
    padding-bottom: 50px;
}

.show_video video {
    width: 45%;
    height: auto;
}

.bck1 {
    background-image: url("./../images/background_1.jpg");
    background-size: cover;
}

.bck2 {
    background-image: url("./../images/background_2.jpg");
    background-size: cover;
}

.bck3 {
    background-image: url("./../images/background_3.jpg");
    background-size: cover;
}

.bck4 {
    background-image: url("./../images/background_4.jpg");
    background-size: cover;
}

.normal_title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    padding: 70px;
}

.normal_passive {
    width: 55%;
    margin: 0 auto;
}

.normal_passive p {

    font-size: 20px;
    text-indent: 2em;
}

.vcenter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    /*把此元素放置在父元素的中部。*/
    vertical-align: middle;
    margin: auto;
}

a {
    color: #666;
}

a:hover {
    color: #dd0505;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
.container {
    width: 1600px;
    padding: 0;
}

.container .nav {
    margin-left: 130px;
}

.phone-nav {
    display: none;
}

.header {
    border-bottom: 1px solid #e5e5e5;
}

.banner {
    margin: 40px auto 0;
    width: 1600px;
    text-align: center;
}

.banner img  {
    width: 1170px;
    height: 642px;
    display: inline-block;
}
.banner video  {
    width: 1170px;
    height: 642px;
    display: inline-block;
}


.banner .slick-prev,
.banner .slick-next {
    border: 0;
    width: 34px;
    height: 63px;
    transform: rotate(0);
}

.logo {
    width: 30%;
    padding: 5px 0;
}

.nav {
    width: 54%;
    margin-left: 5%;
}

.nav ul li {
    float: left;
    line-height: 80px;
    position: relative;
    border-right: 1px solid #e5e5e5;
}

.nav ul li a {
    padding: 7px 25px;
    width: 170px;
    color: #000;
    /*延缓出现*/
    transition: all 0.3s;
    display: inline-block;
}

/*鼠标覆盖一级导航*/
.nav ul li a:hover {

    width: 170px;
    background: #ec971f;
    color: #e5e5e5;
    font-weight: bold;
}

.nav ul li ul {
    border: 1px solid #e5e5e5;
    position: absolute;
    z-index: 22;
    padding: 10px 0;
    box-shadow: 0 2px 2px #000;
    background: #fff;
}

.nav ul li ul li {
    line-height: 30px;
    border: 0;
}

.nav ul li ul li a {
    padding: 0 39px !important;
}

.nav li.active a {
    background: #ff7801;
    color: #e5e5e5;
    font-weight: bold;
}

.nav li.active ul li a {
    background: none !important;
    color: #fbca4f !important;
    font-weight: 100;
}

.nav li.active ul li a:hover {
    /*无响应？！*/
    background: #fbe800;
!important;
}

.concent {
    width: 1600px;
}

.concent .focusing {
    line-height: 40px;
    font-size: 18px;
    color: #000;
    margin-top: 40px;
    border-top: 1px solid #e5e5e5;
    width: 100px;
}

.concent .focusing span {
    font-size: 16px;
    color: #999;
    margin-left: 10px;
}

.concent .focusing a {
    width: 80px;
    height: 30px;
    display: inline-block;
    background: #333;
    color: #e5e5e5;
    text-align: center;
    line-height: 30px;
}

.pic {
    position: relative;
    overflow: hidden;
}

.pic img {
    transition: 0.3s;
}

.pic:after {
    content: "";
    display: block;
}

.focusing-wrap {
    margin-top: 18px;
}

.focusing-wrap ul li {
    position: relative;
    display: block;
    width: 25%;
    height: 100%;
    float: left;
}

.focusing-wrap ul li .pic {
    position: relative;
    overflow: hidden;
}

.focusing-wrap ul li .pic img {
    transition: 0.3s;
}

.focusing-wrap ul li .pic:after {
    display: block;
    padding-bottom: 70.1111%;
}

.focusing-wrap ul li p {
    text-align: center;
    font-size: 16px;
}

.focusing-wrap ul li p a {
    display: block;
    /*font-family: "微软雅黑";*/
    color: #000;
    line-height: 35px;
    margin-top: 40px;
}

.focusing-wrap ul li p em {
    color: #999;
}

.focusing-wrap ul li p span {
    color: #e81f27;
}

.focusing-wrap ul li:hover img {
    transform: scale(1.2);
}

.focusing-wrap ul li:hover a {
    color: #dd0505;
}

.focusing {
    font-size: 30px;
    color: #000;
}

.focusing .line-bottom {
    width: 40px;
    border-top: 1px solid #dadada;
    margin-top: 10px;
}

.sycase .sycase-wrap {
    position: relative;
}

.sycase .sycase-wrap .sycase-title {
    width: 140px;
    height: 140px;
    border: 3px solid #000;
    padding: 7px 0 0 7px;
    position: absolute;
    top: 50%;
    margin-top: -70px;
    left: 50%;
    margin-left: -70px;
    z-index: 2;
}

.sycase .sycase-wrap .sycase-title .sycase-txt {
    width: 120px;
    height: 120px;
    background: #dc1313;;
    font-size: 30px;
    color: #fff;
    padding: 13px 20px;
    text-align: center;
}

.sycase .sycase-wrap ul li {
    float: left;
    width: 50%;
    height: 100%;
    display: block;
    position: relative;
}

.sycase .sycase-wrap ul li .pic:after {
    padding-bottom: 38.75%;
}

.sycase .sycase-wrap ul li .case-zzc {
    width: 550px;
    height: 190px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -95px;
    left: 50%;
    margin-left: -275px;
    z-index: 3;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, 0.65);
    padding: 0 50px;
    opacity: 0;
    transition: all 0.3s;
}

.sycase .sycase-wrap ul li .case-zzc h3 {
    text-align: center;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    line-height: 70px;
    margin-top: 10px;
}

.sycase .sycase-wrap ul li .case-zzc p {
    font-size: 12px;
    line-height: 25px;
    margin: 30px 0;
    height: 100px;
    overflow: hidden;
}

.sycase .sycase-wrap ul li:hover .case-zzc {
    opacity: 1;
    filter: alpha(opacity=100);
}

.concent-title {
    line-height: 110px;
    text-align: center;
}

.concent-title span {
    margin: 0 45px;
    font-size: 30px;
    color: #000;
}

.concent-con ul li {
    float: left;
    width: 330px;
    margin-right: 93px;
}

.concent-con ul li .concent-ch a {
    font-size: 13px;
    color: #010101;
    transition: 0.3s;
}

.concent-con ul li .concent-ch .line {
    border-top: 1px solid #dbdbdb;
    width: 40px;
    margin: 10px 0;
    transition: 0.3s;
}

.concent-con ul li p {
    font-size: 12px;
    color: #999;
    margin: 30px 0;
    line-height: 25px;
    height: 130px;
    overflow: hidden;
}

.concent-con ul li:hover a {
    color: #dd0505;
}

.concent-con ul li:hover .line {
    border-top: 1px solid #dd0505;
}

.concent-con ul li {
    display: flex;
    justify-content: center;
    width: 275px;
    margin-right: 84px;
    margin-left: 32px;
}

.concent-con ul li {
    /*font-family: Verdana;*/
    font-size: 25px;
    color: #999;
    display: block;
}

.concent-con1 ul li .concent-ch a {
    font-size: 16px;
    color: #010101;
    transition: 0.3s;
}

.concent-con1 ul li .concent-ch .line {
    border-top: 1px solid #dbdbdb;
    width: 40px;
    margin: 10px 0;
    transition: 0.3s;
}

.concent-con1 ul li p {
    font-size: 17px;
    color: #999;
    margin: 30px 0;
    line-height: 25px;
    /*height: 60px;*/
    /*overflow: hidden;*/
}

.concent-con1 ul li:hover a {
    color: #dd0505;
}

.concent-con1 ul li:hover .line {
    border-top: 1px solid #dd0505;
}

div ul li.last {
    margin-right: 0;
}

/*尾部*/
.footer-nav {
    margin-top: 20px;
}

.footer-nav .panel-footer {
    border: none;
    padding: 0;
}

.footer-nav .panel-footer .footer-left {
    width: 100%;
    background: #EF5F57;
    padding-left: 3%;
}

.footer-nav .panel-footer .footer-left ul li {
    float: left;
    line-height: 120px;
}

.footer-nav .panel-footer .footer-left ul li a {
    color: #fff;
    padding: 5px 10px;
    margin: 0 35px;
    font-weight: bold;
}

.footer-nav .panel-footer .footer-left ul li a:hover {
    border-bottom: 1px solid #fff;
}

.footer-nav .panel-footer .footer-right {
    width: 32%;
    height: 120px;
}

.footer-nav .panel-footer {
    width: 1500px;
    border-bottom: 1px solid #d1d1d1;
    height: 35px;
    margin: 37px auto 0;
    line-height: 35px;
    color: #545454;
    cursor: pointer;
}

.footer-nav .panel-footer {
    transition: 0.3s;
    margin-top: 17px;
}

.footer-nav .panel-footer {
    width: 83%;
    border: 1px solid #eee;
    left: 50%;
    text-align: center;
    background: #fff;
}

.note_pc {
    display: block;
    width: 279px;
}

.note_phone {
    display: none;
}

/*PC端*/
@media (min-width: 799px) {
    .container {
        width: 1600px;
    }
}

/*手机、小屏幕pad端*/
@media (max-width: 800px) {
    .container {
        width: 100%;
    }
    .normal_title{
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: bold;
        padding: 70px 26px;
    }
    .container .logo {
        margin-left: 20px;
        width: 64%;
    }

    .container .nav {
        display: none;
    }

    .banner {
        margin: 40px auto 0;
        width: 100%;
        height: 20%;
        /*height: 250px;*/
        text-align: center;
    }

    .banner img {
        width: 100%;
        height: auto;
    }
    .banner video{
        display: none;
    }
    .focusing-wrap ul li {
        width: 50%;
    }

    .focusing-wrap ul li .pic {
        overflow: hidden;
    }

    .focusing-wrap ul li:hover img {
        box-shadow: 1px 3px 5px #999;
    }

    .phone-nav {
        position: absolute;
        font-size: 30px;
        right: 20px;
        line-height: 60px;
        color: #000;
        display: block;
        top: 0;
    }
.concent-con1{
    width: 75%;
    margin: auto;
    left: 0!important;
}
    .concent-con ul li p{
        margin: 0;
    }
.concent-con1 ul{
    left: 0!important;
}
    .normal_title h1 {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
    }
    .normal_passive{
        width: 75%;
        margin: 0 auto;
    }
    .show_video video{
        width: 75%;
    }
    .normal_passive p {
        font-size: 16px;
    }
    .concent-title{
        line-height: 72px;
    }

    .sycase {
        padding-top: 70px;
    }

    .sycase .sycase-wrap .sycase-title {
        top: -10px;
        height: 70px;
        width: 240px;
        margin-left: -120px;
    }
    .focusing-wrap ul li p a{
        margin-top: 10px;
    }
    .sycase .sycase-wrap .sycase-title .sycase-txt {
        height: 50px;
        font-size: 20px;
        width: 220px;
    }

    .sycase .sycase-wrap ul li {
        width: 100%;
        margin-bottom: 10px;
    }

    .sycase .sycase-wrap ul li .pic:after {
        padding-bottom: 32%;
    }

    .sycase .sycase-wrap ul li .case-zzc {
        display: none;
    }

    .phone-move {
        padding-left: 20px;
    }

    .footer-nav .panel-footer .footer-left {
        float: none;
        width: 100%;
        padding-left: 1%;
    }

    .footer-nav .panel-footer .footer-left ul li a {
        margin: 0 15px;
        padding: 5px 3px;
    }

    .footer-nav .panel-footer {
        width: 100%;
        float: left !important;
    }

    .footer-nav .panel-footer {
        width: 100%;
    }

    .note_pc {
        display: none;
    }

    .note_phone {
        display: block;
        width: 270px;
    }
}
