body{
    margin: 0;
    /*font-size: 12px;*/
}
a{
    text-decoration: none;
    color: #1d5494;
}
a:hover{
    text-decoration: underline;
    color: #003399;
}
ul li{
    list-style: none;
}
/*头部框*/
.header{
    display: flex;
    justify-content: space-between;
    background-color:#eff4fa;
    height: 62px;
    /*实线*/
    border-bottom: 1px solid #d6dfea;
}

/*图片展示*/
.content2{
    text-align: center;
    height: 500px;
    width:1000px;
    display: flex;
    justify-content: space-around;
    margin: 50px 20px 60px 25px;
}
.login_tab_login{
    float: left;
    width: 167px;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 2px solid #d6dfea;
}
.img_showarea{
    height: 300px;
    width: 334px;
    float: left;
}
.login_picture{
    z-index: -1;

}
.login_p_tittle{
    color: #6f95c8;
    font-size: 24px;
}
.login_p_tittle_normal{
    font-size: 15px;
    margin: 0px;
}
.login_content{
    text-align: center;
}
.login_p_moreinfo{
    color: #225592;
    font-size: 13px;
}
/*图片加载区*/
.login_card{
    height: 336px;
    width:334px;
    border: 1px solid #a0b1c4;
}


/*尾部*/
.footer{
    border-top:  1px solid #d6dfea;
    text-align: center;
    height: 40px;
    background-color: #EFF4FA;
}
.footer_links{
    margin-top: 10px;
    font-size: 14px;
}